#table2{
    text-align: center;
    background-color: white;
}
#table2 a{
    font-size: 25px;
    color: brown;
    text-decoration: none;
}
#table td{
    padding: 20px;
}
.banner{
    background: linear-gradient(rgba(0, 0, 0, 0.062), rgba(0, 0, 0, 0.185)), url(../download.jpeg);
    background-size: cover;
    padding: 10rem 15rem 10rem 5rem;
}
.banner p{
    color: white;
    line-height: 25px;
}
.banner span{
    border-radius: 10px;
    padding: 7px;
    background-color: white;
}
.banner button{
    padding: 5px 20px;
    font-size: 12px;
    background-color: white;
    color: #000;

}
.content legend{
    color: red;
    font-size: large;
    
}
.content {
    margin-bottom: 7rem;
    margin-top: 7rem;
    padding-left: 8rem;
    margin-right: 8rem;
}
.content fieldset {
    border: 3px solid yellow;
}
.content h2{
    display: inline;
}
.header {
    background-color: yellow;
    margin-bottom: 7rem;
    padding: 30px;
}
.header .imp{
    background-color: wheat;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 2rem;
   
}
.header .exp{
    background-color: rgb(255, 255,255);
    padding: 10px;
    border-radius: 20px;
}

.set {
    text-align: center;
    margin-bottom: 7rem;
    padding-left: 30rem;
    padding-right: 30rem;
}
.set input{
    width: 100%;
    margin-bottom: 1rem;
    padding: 5px;
}
.set textarea{
    width: 100%;
    padding: 5px;
}
.set button{
    padding: 7px 30px;
    margin-top: 5px;
}